/*
================================================================================
Section
================================================================================

Stylized container for grouping contents of a page.
*/


// Vertical padding.

$section-padding: $spacer * 4;


.section {
    padding-bottom: $section-padding;
    padding-top: $section-padding;

    &--bordered {
        border-bottom: 1px solid $color-border;
        border-top: 1px solid $color-border;
    }
}


.principal-section {
    padding-top: 6rem !important;
}

/* Background variants
============================================================================= */

// Register the background variants for the sections that you will
// use in your project. These may use different colors,
// textures or images as backgrounds.


.section--light {
    background-color: $color-gray-lighten-5;
}

.section--white {
    background-color: #fff;
}

.section--blue {
    background-color: #32456a;
}


/* Size variants
============================================================================= */

.section--xs {
    padding-bottom: $section-padding * 0.5;
    padding-top: $section-padding * 0.5;
}

.section--sm {
    padding-bottom: $section-padding * 0.75;
    padding-top: $section-padding * 0.75;
}

.section--lg {
    padding-bottom: $section-padding * 1.5;
    padding-top: $section-padding * 1.5;
}

.section--xl {
    padding-bottom: $section-padding * 2;
    padding-top: $section-padding * 2;
}

.section--corporate {
    background: #000 url("../img/fondo-login.jpg");
    background-position: center 25%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.section--objective {
    background: #000 url("../img/objetive.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section--blockchain {
    background: #000 url("../img/blockchain.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.section--python {
    background: #000 url("../img/python.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section--neuronal {
    background: #000 url("../img/neuronal.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-brand {
    background: #F0F2F3;
}
